<div class="side-bar"> 
  <div class="side-bar-items">
    <h2 id="admin-title">ادمین شهریاری</h2>
    <a href="#" class="side-bar-item"><img src="../../ico/white/home.png" alt="#">صفحه اصلی</a>
    <a href="#" class="side-bar-item"><img src="../../ico/white/notebook.png" alt="#">تکلیف</a>
    <a href="#" class="side-bar-item"><img src="../../ico/white/add.png" alt="#">امتحان</a>
    <a href="#" class="side-bar-item"><img src="../../ico/white/user.png" alt="#">ادمین ها</a>
    <p id="made-by"> ساخته شده توسط <a href="#">سینا یگانه فعال </a></p>
  </div>
</div>